@import 'tailwindcss';

@theme {
  --color-primary: #b92b5d;
  --color-secondary: #373052;
  --color-alternate: #f3f3e9;
  --color-accent: #d9d9d94d;
}

/* Firefox */
progress::-moz-progress-bar {
  background-color: var(--color-primary);
}

/* WebKit (Chrome, Safari, Edge) */
progress::-webkit-progress-bar {
  background-color: var(--color-primary);
}

progress::-webkit-progress-value {
  background-color: var(--color-primary);
}
